body {
    background-color: #e4fccb;
}
h1 {background-color: #58c073; color: #f3fffd;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    font-family: Vivaldi;
    font-size: 70px;
    text-align: center;
}
image {background-color: #e4fccb;
}
nav {background-color: #999783;
    width: 100%;
    text-align: center;

}
h2 {background-color: #8e9399; color: #eee0fc;
    font-family: "Lucida Handwriting";
}
p {color: #060109;
    font-family: "Arial Narrow";
    font-size: medium;
}
ul { list-style-image: url(iconbb.png);
}
.feature { color: #fc084e;
}
footer { text-align: center;}