
/*alt.css*/

body {  background-color: #68a03c;

}

#wrapper {background-image: url(image/food.gif);
          margin: 0 auto;
          width: 80%;
          box-shadow: 4px 4px 4px #3d4047;
}
#link {background-color: #21ffd8;
      text-align: center;
      margin-bottom:0;
      margin-top: 0; padding: 5px; }

#logo{ background-color: #e7ff85;}
#header h1 {background-image: url(image/bar2.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-bottom: 0;
        margin-top: 0;
        color: #f0e13c;
        font-family: "Kunstler Script","Brush Script MT",cursive;
        padding:20px;
        text-align: center;
        font-size: 100px;
        text-shadow: 3px 3px 3px #070c09;
}
#nav {text-align: center;
      margin-top: 0 ;
      margin-bottom: 18px;
      padding-top: 0;
      padding-bottom: 5px;

 }

#box1 { background-color: #f3ffba; color: navy;
    width: 300px;
    height: 230px;
    float: left;
    margin-left: 1%;
    border-radius: 18px;
    text-align: center;
    border: 3px ridge #ffef17;

}
#image {float:left;
       margin-left: 1%;
       margin-right: 0;
}

#content {  margin-left: 60%;

}
h2{ color: #f0e921; background-color: #76a031;
    font-family: Cambria,Georgia,serif;
}

p {  text-indent: 2em;
     color: #ffffff;  font-family: Century, "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}
ul{  color: #a1ff5e;
     font-family: "Franklin","Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
     list-style-image: url(image/iconspoon.png);
}
#footer {background-color: #e7ff85;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        font-style: italic;
        font-size: smaller;
        text-align: center;
}
